<a href="https://colab.research.google.com/github/SrilathaKodali27/python_learnings/blob/main/sri_python_notes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Basics of python

In [ ]:
#what is python?
'''1.python is general purpose programming language
   2.high-level language
   3.oops-object oreinted programming language
   4.dynamically typed programming language
   5.interpretted programming language.'''
#why we reqiure comments?
#for the better understanding purpose

In [ ]:
#what is statistically typed programming  language?
'''in statistically typed programming  language we need to define data type for variables.
  ex: java,c++.'''

In [ ]:
#what is low-level programming language?
'''1.low-level programming language are machine friendly language
   2.in this the code is changing to binary form  fro :-[01010101010]
   3.more lines of code
   4.c, c++.'''

In [ ]:
#what is high level language?
'''1.human friendly language
   2.codes are not changing into binary form
   3.low lines of code
   4.it is like an english language.'''

In [ ]:
#print "Hello World" in python?
#i am using "print()" to display my output
print("Hello World!")

Hello World!

#Numerical Data Types

In [ ]:
#what are all numerical data types?
#there are 3  numerical data types
#1.Integer :- A whole number either  +ve or -ve without decimal point
print(10)
print(5)
print(-2)
#find the data type of above integer
#i am using "type()" to find data type
print(type(10))
print(type(5))
print(type(-2))

10
5
-2
<class 'int'>
<class 'int'>
<class 'int'>

In [ ]:
#2.Float:- A whole number either +ve or -ve with decimal point
print(2.0)
print(5.326)
#print type of above interger?
print(type(2.0))
print(type(-5.456))

2.0
5.326
<class 'float'>
<class 'float'>

In [ ]:
#3.Complex Number:- A real number with its imaginary part is known as complex Number
print(2+4j)         #why j means python is unique i is used in physics i means iota value is route of -1 so, Guido van Rossum introduced i as iota
print(type(2+4j))

(2+4j)
<class 'complex'>

#Arithmetic Operators

In [ ]:
#there are 7 arithmetic Operators
#1. addition ---> +
print(10 + 5)
#2. substaraction ---> -
print(10 - 5)
#3. multiplication ---> *
print(10 * 5)
#4. division ---> /
print(10 / 5)
#5. Modulus ---> %  --remainder of the division
print(10 % 5)
print(type(10 % 5))
#6. exponential ---> ** -- to the power off
print(2 ** 3)
print(10 ** 5)
print(type(10 ** 5))
#7. Floor Division ---> //
#it's a type of division where it ignores all the values after decimal in co-efficient
print(10 / 3)
print( 10 // 3)

15
5
50
2.0
0
<class 'int'>
8
100000
<class 'int'>
3.3333333333333335
3

In [ ]:
#why we we are getting default data tyoe for divison is float?
#when you're doing division some times if we want extract,exact co-efficient you may get decimal values instead defining the data type we are getting float data type.

#Round()

In [ ]:
#what is round()?
#rounding to the nearest values
print(round(10.235))
#when the values are below 0.5 then it will give the base value
print(2.536)
print(round(2.536))

10
2.536
3

In [ ]:
#print specific decimal "ndigits" from the value 2.53476?
#expected output :- 2.53
#use round()---> round(number,ndigits)
print(round(2.53476,2))

2.53

In [ ]:
#what is floor value and what is ceiling values?
#floor value :- these are the values before the decimal numbers
#ceiling values :- these are the upcoming values or nearest values

In [ ]:
#Types of errors
#variables
#input()
#escape characters

#Types of errors

In [ ]:
# types of errrors  :- 2
#1. Syntax error
#2. logical error

In [ ]:
#1.syntax error:- breaking the rules of programming language can raise the syntax error
print(2 ** 3)

8

In [ ]:
#2. logical error:- excepts syntax error all the errors are called logical errors
#ex:- name error, recurssive error, attribute error, indentation error.

#Variables

In [ ]:
#what is variables?  :- variables are nothing but containers where we can store valuable information and reuse it
#what is purpose of variables? :-  is to reduce the memory size
#how to create the variables? :-
x = 40
son_age = x/2
print(son_age)
#how we are going to access the variables?
#print()

20.0

In [ ]:
#python is a interpreted language? :- means it will execute line by line
x = 10
y = 5
x = 60
y = 30
print(x + y)

#take two variables of integers and apply all the arthimetic operators?
a = 5
b = 7
print(a + b)
print(a - b)
print(a * b)
print(a % b)
print(a / b)
print(a ** b)
print(a // b)

90
12
-2
35
5
0.7142857142857143
78125
0

In [ ]:
#python is dynamically typed programming language? :- without defining data types for varibles
x = 10
print(type(x))
y = "hello world"
print(type(y))

<class 'int'>
<class 'str'>

In [ ]:
#Rules of creating variables.
#1. always start creating the variables with alphabets.
'''a = "hello world"
print(a)'''

#2. dont start creating variables with numbers
#2="data"
# print(2)

#3.if you follow rule 1 and 2 you can start creating variables with alphabets inbetween you inclube numbers.

#4. dont give spaces inbetween the variables
#ex: son age = 20
# print(son age)

#5. dont use special characters.---->$,%,#,@
# ex:- @ = 10
# print(@)

#6. you can start creating variables with (_) special character
_age = 20
print(_age)

#7. always prefer variables in lowercase

20

In [ ]:
#python is a case sensitive language?
'''ex: x = "hello world"
   print(X)'''

In [ ]:
#!. Assign multiple values to the multiple variables and print in separate line
a,b,c = 10,20,30
print(a)
print(b)
print(c)
#use "Sep=\n" operator to print values in separate line
print(a,b,c, sep="\n")

10
20
30
10
20
30

In [ ]:
#assign same value to the multiple variables and print in separate line
a = b = c = 20
print(a,b,c, sep="\n")

#0r
a = 20
b = 20
c = 20
print(a,b,c, sep="\n")

20
20
20
20
20
20

In [ ]:
#Python Identifier is the name we give to identify a variable, function, class, module or other object.

#Input()

In [ ]:
#what is input() :- it intakes every information/data/value/ given by user

#where we have to use this input()? :- when the user is giving multiple informations/data/value to the same variables then we have to use input().

#why we are using input()?  or what is the purpose of using input ? :- to maintain the memory

In [ ]:
# How to create input() and how to access the input()
#we are using input function along with a variable name to create input()
#we are using print() to access th input()
a = input()
print(a)

#give the message inside the input function.
a=input("Enter the message ")
print(a)
#the default data type for input() is string.
#why default data type f0r input() is string?
'''user may give different types of information/data/value the input function has built in such a way so that it can take any kind of information
    so that's why default data type is string '''

7
7
Enter the message 56
56

#Strings

In [ ]:
#what is strings? :-  a collection of multiple characters that are written inside double quotes or single quotes ():- parenthesis
print("Hello world")

#how can you denote or write  a multiline string?
print(""" hi
i am using python multiline string
this is my 1st execution""")

Hello world
 hi
i am using python multiline string
this is my 1st execution

In [ ]:
#string is collection of multiple characters, Each  character in string can be accessiable
#How can we access each character in a string?
#we are using "Indexing" and "Slicing Operator" to access the specific characters in a  string

In [ ]:
#Indexing:- positional number of each character in a string
#these indexing can be starts with zero
#Slicing Operator : ----> [] ---> it is use to break the string. also used to retrive substring from the main string.

In [ ]:
#what is substring?
#is nothing but a part of main string

x = "Hello world"
print(x)

Hello world

In [ ]:
#how to find the how many indexs and how to find the string?
x = "Hello World"
#to find the length we use len function
#length can be strt from 1
print(len(x))
#if we want to find total index substract -1
print(len(x)-1)

11
10

In [ ]:
#[start_index value#]
x = "Hello World"
print(x[6])
print(x[8])

W
r

In [ ]:
#if i want range of characters for example for example "llo wo" from the above string?
#[start_index value:end_indexvalue] : = collans
x="Hello World"
print(x[2:8])

llo Wo

#13-07-2024

In [ ]:
#print the characters of the even position for the given string "Hello World"
#Hl0wrd
a = "Hello World"
print(a[0:12:2])
#3
print(a[0:12:3])

HloWrd
HlWl

In [ ]:
#print odd index position characters?
print(a[1:12:2])

el ol

In [ ]:
#what is default indexing?
'''during slicing operation if you won't specify the index positional numbers then python can
take 0 as the start position number and length measure as the end position number'''

In [ ]:
print(a[1::2]) #--> odd position characters
print(a[::1])#--> overall string
print(a[::2])#--> even position characters
#default step value can be one

e
Hello World
HloWrd

#Negative Indexing

In [ ]:
# what is negative indexing?
# indexing is the positional characters from right to left(reverse direction) by using -ve numbers
# -ve indexing can be starts from -1
# by using -ve indexing  we can access the characters in reverse direction
s = "Hello World!"
#[start]
#print the w by using -ve indexing?
print(s[-6])

W

In [ ]:
#print range of charaters in -ve  indexing?
#world
print(s[-6:-1])

World

In [ ]:
#reverse a string "hello word!"
#!drow olleh
#[start:end:step]
print(s[-1:-13:-1])

!dlroW olleH

In [ ]:

print(a[::-1])

madam

In [ ]:
#check wheater the string is palindrome or not?
a = input("enter your string: ")
print(a[::-1])

enter your string: madam
madam

#String Methods

In [ ]:
#what are all methods applicable on given string?
# use dir() it will tells you what are all the methods that can applicable for given string  ---> dir = direct
#what is dir()?
# it returns what are all the methods applicable  on given string

a = "hello World"
#to find methods use dir()
print(dir(a))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [ ]:
from re import template
#important string methods
# 1. capitalize
print(a.capitalize())

# 2. upper
print(a.upper())

# 3. lower
print(a.lower())

# 4. title
print(a.title())

#5. swapcase
a = "Hello"
b = "world"
temp = a
a = b
b = temp
print(a , b)

Iamsrilatha
IAMSRILATHA
iamsrilatha
Iamsrilatha
world Hello

In [ ]:
a = "  helo world   "
print(a.strip())
print(a.lstrip())
print(a.rstrip())

helo world
helo world
  helo world

In [ ]:
a = "hello good morning"
print(a.replace("morning","afternoon"))

hello good afternoon

In [ ]:
#find
#zfill
#isalpha ---> if we give spaces in string it will give false as an output otherwise it is true.

In [ ]:
#find
a="Hello"
print(a.find("o"))
b="srilatha"
print(b.find("tha"))

4
5

In [ ]:
#isalpha
a = "iamsrilatha"
print(a.isalpha())

b = "i am a good girl"
print(b.isalpha())

True
False

In [ ]:
b = "123456"
print(b.isalnum())

True

#String Formating Methods

In [ ]:
#what is string formatting methods?
#it is deffined as formatting method can takes an argument and place it over a placeholder{}.
#there can be 3 types

age = 10
my = "my age is"
print(my,age)

my age is 10

In [ ]:
#string concatination
a = "hello"
b = "world"
print(a + " "+ b)

hello world

In [ ]:
#1sr string method.print formatting method\
age = 10
my_age ="im am {} years old."
print(my_age.format(10))

im am 10 years old.

In [ ]:
#2nd string format method using format at end of the string
age = 10
my_age = "i am {} years old.".format(10)
print(my_age)

i am 10 years old.

In [ ]:
#3rd f'string format method':
age = 10
my_age = f'i am {age} years old'
print(my_age)

i am 10 years old

In [ ]:
#method 1
item_name = "Product A"
quantity = 10
price_each = 99.9
Notification = "your order for {} has confirmed at an price of {},and quatity of {}, placed successfully."
print(Notification.format(item_name,price_each*quantity,quantity))

your order for Product A has confirmed at an price of 999.0,and quatity of 10, placed successfully.

In [ ]:
#method 2
item_name = "Product A"
quantity = 10
price_each = 99.9
Notification = "your order for {} has confirmed at an price of {},and quatity of {}, placed successfully.".format(item_name,price_each*quantity,quantity)
print(Notification)

your order for Product A has confirmed at an price of 999.0,and quatity of 10, placed successfully.

In [ ]:
#method 3
item_name = "Product A"
quantity = 10
price_each = 99.9
price = price_each*quantity
Notification = f'your order for {item_name} has confirmed at an price of {price},and quatity of {10}, placed successfully.'
print(Notification)

your order for Product A has confirmed at an price of 999.0,and quatity of 10, placed successfully.

**Escape Charaters**

In [ ]:
#what is escape characters?
#if you want to print illegal characters in a string we have to use escape characters
#---> use backward slach "\" before of illegal character next at the end also use "\" before illegal characters

In [ ]:
a = "Dwayan \"The Rock\" johnson"
print(a)

Dwayan "The Rock" johnson

In [ ]:
a="srilatha"
print(a[0:8:2])

siah

#Loops

In [ ]:
# why we use loops?
#we use loops to avoid duplicate codes


#how many types of codes we are having in python?
#1.WET code                           2.DRY code
# W--->Write                          # D--->dont
# E-->Everything                      # R--->repeat
# T--->Twice                          # Y---->yourself

In [ ]:
#what are all the loops in python?    #loops will used in iterators
#1 while
#2 for

In [ ]:
#while loop :-

In [ ]:
#write a program to run a lift?
target =int(input("enter your floor: "))
ground_floor = 0
while ground_floor <= target:
  print(f'you have reached {ground_floor} floor')
  ground_floor = ground_floor+1

enter your floor: 4
you have reached 0 floor
you have reached 1 floor
you have reached 2 floor
you have reached 3 floor
you have reached 4 floor

In [ ]:
#write a program to print 10 digits using loop in separate line
a = int(input("enter the number: "))
b = 0
while b<=a:
  print(b)
  b = b + 1

enter the number: 10
0
1
2
3
4
5
6
7
8
9
10

In [ ]:
#write a program to print odd digits  using loop in separate line
a = int(input("enter the number: "))
b = 1
while b<=a:
  print(b)
  b = b + 2

enter the number: 10
1
3
5
7
9

In [ ]:
#for loop :- it runs a set of instructions for each and every element in a collection.

In [ ]:
num = [10,20,30,40,50]
#output = [20,40,60,80,100]
for i in num:
  print(i*2,end=" ")

20 40 60 80 100

In [ ]:
#print "hello world" in separate line by using loops?
n = "hello world"
for i in n:
  print(i)

h
e
l
l
o

w
o
r
l
d

In [ ]:
#is loops can run through each and every element in a collection.---> True

In [ ]:
#write a program to print "srilatha" upto the length of the string?
#if the length is 11 print 11 times, or 8 print 8 times
x = "srilatha"
for n in x:
  print(x)

srilatha
srilatha
srilatha
srilatha
srilatha
srilatha
srilatha
srilatha

In [ ]:
#Break Statement:- it terminates or breaks the loops once the condition satisfies.
num = [10,20,30,40,50]
#break the loop when the iteration reaches to 30
for i in num:
  print(i)
  if i == 30:
    break

10
20
30

In [ ]:
num = [10,20,30,40,50]
#break the loop when the iteration reaches to 30
for i in num:
  if i == 30:
    break
  print(i)

10
20

In [ ]:
#if i use the print() before break why i am getting cosidered condition value?
'''python is a interpretted language means it will execute line by line when i have written print() before break. before
executing condition the iteration reaches to specific condition value so we can that specific value along with the iterated values in the output'''

In [ ]:
#continue:- it skips the particular iteration when the condition satisfies
a=[10,20,30,40,50,60,70,80,90]
for x in a:
  if x == 40:
    continue
  print(x)

10
20
30
50
60
70
80
90

In [ ]:
#can we do multiple continues. yes
a=[10,20,30,40,50,60,70,80,90]
for x in a:
  if x in(10,30,50,80):
    continue
  print(x)

20
40
60
70
90

**Range**

In [ ]:
#write a program to create a range of numbers?
#range(end)
for i in range(11):
  print(i)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
#print "hello world" 6 times?
for i in range(6):
  print("hello world")

hello world
hello world
hello world
hello world
hello world
hello world

In [ ]:
#range(start:end)
#write a program to print range of values from 10 to 40?
for i in range(10,41):
  print(i,end=" ")

10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40

In [ ]:
#write a program to print even numbers from 1 to 20?
#range(start:end:step)
for i in range(2,21,2):
  print(i)

2
4
6
8
10
12
14
16
18
20

#Conditional Statements

In [ ]:
#what is comparision operators and what is relational operators?
#both are same
#1. equals to --> ==
#2. not equals to --> !=
#3. greater than --> >
#4. less than --> <
#5. greater than equals to --> >=
#6. less than equals to --> <=     <> ---> not equals to in power bi

In [ ]:
print(10 == 10)
print(10 != 10)
print(10>10)
print(10<10)
print(10>=10)
print(10<=10)

True
False
False
False
True
True

In [ ]:
#if ---> elif ----> else

In [ ]:
#print a number wheater a positive or negative or neutral.
number = int(input())
if number > 0:
  print("positive")
elif number < 0:
  print("negative")
else:
  print("neutral")

-9
negative

In [ ]:
#Logical Operators
#not:- it reverse your output
print(not(10==10))

False

In [ ]:
a = 10
b = 35
c = 90
#check the condition weather a is less than b and c
#b is less than c
if a < b and a < c and b < c:
  print("all the conditions are satisfied")
else:
  print("any one condition not satisfied")

all the conditions are satisfied

In [ ]:
#pass pass means null ,nothing will happen
a = int(input())
if a > 0:
  pass

5


#Collections or knowns as iterables

In [ ]:
#4 types of collections in python
# 1. tuple
# 2. list
# 3. set
# 4. dictionary

#List

In [ ]:
#1. List:- ---> [] each element is separated with coma(,)
# ->is orderded,changable(mutable),and it allows duplicates
# ADD : append,insert,extend
#remove : pop,remove,del,clear.

In [ ]:
#it allows duplicates
l1 = ["Apple","Banana","cherries","kiwi","watermelon","lemon","ornage","ornage","Apple"]
print(l1)
print(type(l1))

['Apple', 'Banana', 'cherries', 'kiwi', 'watermelon', 'lemon', 'ornage', 'ornage', 'Apple']
<class 'list'>

In [ ]:
#write programe and prove me that list can allow the duplicates?

In [ ]:
#list is ordered
""" ordered :- the elements or values in the list is having a aspecific index position number.
Based on this postion number we are accessing the data."""

In [ ]:
#How we can access the data in list?
#we can access it by using the slicing operator -->[] and index position numbers

In [ ]:
l2 = ["Apple","Banana","cherries","kiwi","watermelon","lemon","ornage"]
#what is the length of this list?
print(len(l2))

7

In [ ]:
#print or access apple from above list?
print(l2[0])
#print or access watermelon from above list?
print(l2[4])

Apple
watermelon

In [ ]:
#print the range of items "cherries","kiwi","watermelon","lemon"?
#[start:end]
print(l2[2:6])

['cherries', 'kiwi', 'watermelon', 'lemon']

In [ ]:
#Use the negative index and print the range of items?
l2 = ["Apple","Banana","cherries","kiwi","watermelon","lemon","orange"]
print(l2[-3])

watermelon

In [ ]:
#watermelon","kiwi","cherries"
print(l2[-3:-6:-2])

['watermelon', 'cherries']

In [ ]:
#print the list of even position elements?
print(l2[::2])

['Apple', 'cherries', 'watermelon', 'orange']

In [ ]:
#reverse the entire list?
print(l2[::-1])

['orange', 'lemon', 'watermelon', 'kiwi', 'cherries', 'Banana', 'Apple']

In [ ]:
#can we convert a list in to string.
#write a program to convert the list into string.
l3= ['Apple', 'cherries', 'watermelon', 'ornage']
#using loops
for x in l3:
  print(x, end= " ")  #end:- when you donot need output in each line then you use "end=""
  #print(type(x))

Apple cherries watermelon ornage

In [ ]:
#list mutable or changable:-
#How can you define a collection is mutable?
#it can be defined in three ways
#change-->replace--> A-->B
#ADD the items in to the list
# deleting the items in the list
# for list there is 2 methods for adding - append , insert.

In [ ]:
#change-->replace--> items in list -->replacing in list can be done with the help of index position numbers.
l4 = ['ornage', 'lemon', 'watermelon', 'kiwi', 'cherries', 'Banana', 'Apple']
l4[3] = "starwberry"
print(l4)

['ornage', 'lemon', 'watermelon', 'starwberry', 'cherries', 'Banana', 'Apple']

In [ ]:
#if i want to replace the range of items in the list
l4[0:3] = "mango","pineapple","grapes"
print(l4)

['mango', 'pineapple', 'grapes', 'starwberry', 'cherries', 'Banana', 'Apple']

In [ ]:
l4[0:4] = "cashew", "dry grapes"   #it is accepetable in list your replace index postion with items irrespective of number of position
print(l4)

['cashew', 'dry grapes', 'cherries', 'Banana', 'Apple']

In [ ]:
#ADD the items in to the list
#appen() by default it will add the items in the list in end position
l5= ['Apple', 'cherries', 'watermelon', 'ornage']
l5.append("muskmelon")
print(l5)

['Apple', 'cherries', 'watermelon', 'ornage', 'muskmelon']

In [ ]:
#if i want to add the element in particular index position.
#insert(index,'new item name')
l5.insert(3,10) #note you cannot insert multiple values into the list
print(l5)

['Apple', 'cherries', 'watermelon', 10, 'ornage', 'muskmelon']

In [ ]:
#Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list.

'''Examples:

Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90]

Input : List = [1, 2, 3, 4, 5], pos1 = 2, pos2 = 5'''
List = [23, 65, 19, 90]
List[0:3:2] = [19,23]
print(List)

[19, 65, 23, 90]

In [ ]:
#extend :-
l = [10,20,30,40]
l2 = ['Apple','Banana','cherries','kiwi',"watermelon","lemon","orange"]
#l2.append(l)
#if we need to add l2 to l
l.extend(l2)
print(l)
print(len(l2))

[10, 20, 30, 40, 'Apple', 'Banana', 'cherries', 'kiwi', 'watermelon', 'lemon', 'orange']
7

In [ ]:
#from above o/p how can we access the elements
print(l2[7])

[10, 20, 30, 40]

In [ ]:
l3 = ['Apple','cherries','lemon','lemon']
l4 = [10,20]
#write a progra to add the elements to l3 at the 2nd index position
l3.insert(2,l4)
print(l3)

['Apple', 'cherries', [10, 20], 'lemon', 'lemon']

**delete or remove**

In [ ]:
#delete
l5 = ['Apple', 'cherries', [10, 20], 'lemon', 'lemon']
#delete cherries
l5.remove("cherries")
print(l5)

['Apple', [10, 20], 'lemon', 'lemon']

In [ ]:
#pop
l5 = ['Apple', [10, 20], 'lemon', 'lemon']
l5.pop()
print(l5)

['Apple', [10, 20], 'lemon']

In [ ]:
l5.pop(1)
print(l5)

['Apple', 'lemon']

In [ ]:
#delete
l6 =['Apple', 'cherries', 'lemon','lemon','watermelon', 'orange', 'muskmelon',[10,20,30,40]]
#2:5
del l6[2:5]
print(l6)

['Apple', 'cherries', 'orange', 'muskmelon', [10, 20, 30, 40]]

In [ ]:
del l6  # this will delete entire colection
print(l6)

In [ ]:
l = [10, 20, 30, 40]
l2 =['Apple', 'cherries', 'lemon','lemon']
l2.update(l)
print(l2)
#note :- "update()" is not present in the list of collection so you will raise attribute error.

In [ ]:
#Sorting can be done based on "ascii" number
#ASCII:- american standard code for information inter change.

In [ ]:
l2 = ['mango','Apple','pineapple','grape','kiwi','watermelon']
l2.insert(1,'apple')
print(l2)

['mango', 'apple', 'Apple', 'pineapple', 'grape', 'kiwi', 'watermelon']

In [ ]:
#sort
l2.sort() #default is ascending order(lower to higher .. A asci value is 65)
print(l2)

['Apple', 'apple', 'grape', 'kiwi', 'mango', 'pineapple', 'watermelon']

In [ ]:
#sort above list in descending order.
l2.sort(reverse = True)
print(l2)

['watermelon', 'pineapple', 'mango', 'kiwi', 'grape', 'apple', 'Apple']

In [ ]:
#sort the above collection without case sensitivity.
l2.sort(key = str.lower)
print(l2)

['apple', 'Apple', 'grape', 'kiwi', 'mango', 'pineapple', 'watermelon']

In [ ]:
#swap
l= ['watermelon', 'pineapple', 'mango', 'kiwi', 'grape', 'apple', 'Apple']
l[0:3:2] = 'mango','watermelon'
print(l)

['mango', 'pineapple', 'watermelon', 'kiwi', 'grape', 'apple', 'Apple']

#Tuple

In [ ]:
#Tuple : ---> {}
#ordered,immutable(unchangable),it allows duplicates

In [ ]:
#tuple allow duplicates
t1 = ('Apple', 'Apple','grape','kiwi','mango','pineapple','watermelon')
print(t1)
print(type(t1))
print(len(t1))

('Apple', 'Apple', 'grape', 'kiwi', 'mango', 'pineapple', 'watermelon')
<class 'tuple'>
7

In [ ]:
#ordered:- accessing or displaying the specific data by using index position numbers.
#each element in the collection having its index position number
#[start]
t1 = ('Apple', 'Apple', 'grape', 'kiwi', 'mango', 'pineapple', 'watermelon')
#print mango
print(t1[4])

mango

In [ ]:
#print the range of elements in t1 ---> [3:5] print the 5th element also?
t1 = ('Apple', 'Apple', 'grape', 'kiwi', 'mango', 'pineapple', 'watermelon')
print(t1[3:6])

('kiwi', 'mango', 'pineapple')

In [ ]:
#print the even position in above collection?
t1=('Apple', 'Apple', 'grape', 'kiwi', 'mango', 'pineapple', 'watermelon')
print(t1[::2]) # start can be 0 and end can be len(t1) by default

('Apple', 'grape', 'mango', 'watermelon')

In [ ]:
#reverse the tuple
t1=('Apple', 'Apple', 'grape', 'kiwi', 'mango', 'pineapple', 'watermelon')
print(t1[::-1])

('watermelon', 'pineapple', 'mango', 'kiwi', 'grape', 'Apple', 'Apple')

In [ ]:
#immutable:-
t1=('Apple', 'Apple', 'grape', 'kiwi', 'mango', 'pineapple', 'watermelon')
#t1[1] = 'orange'
print(t1)
t1.pop()
print(t1)
#Note:- tuples are immutable so we cannot add or delete items from tuple

In [ ]:
print(dir(t1))
#count,index
print(t1.count("Apple"))
print(t1.count("kiwi"))
print(t1.index("grape"))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']
2
1
2

In [ ]:
#create a list by using tuple
t1=('Apple', 'Apple', 'grape', 'kiwi', 'mango', 'pineapple', 'watermelon')
print(type(t1))
t2 = list(t1)
print(t2)
print(type(t2))

<class 'tuple'>
['Apple', 'Apple', 'grape', 'kiwi', 'mango', 'pineapple', 'watermelon']
<class 'list'>

In [ ]:
# diff b/w list and tuple?
#why tuples are faster than list?

#Set

In [ ]:
#set ---> declared in {}
#unordered , immutable, it wont allow duplicates
"""except replace orswap we can add and delete items."""
#ADD:- update,add
#delete:- pop,del,dicard,remove,clear
#union,intersection by using sets
s1 = {0,1,1,3,5,4,7,8,8,9,9}
print(s1)

{0, 1, 3, 4, 5, 7, 8, 9}

In [ ]:
#unordered ---> we cannot access elements from the sets why because it doesnot have index position numbers.
print(s1[0])

In [ ]:
#sets are immutable
#in sets we can able to add and delete elements but we cannot replace the elements in sets

#why we can't swap or replace or change elements in sets?
#sets doesn't have index position so we cannot replace the elements

#where the elements in sets or storing?
#elemets or storing randomly in sets.

In [ ]:
#Adding elements in the sets.
#what is the default index position when you add the elements in the sets.
s1.add(10) #add method can take only one argument
print(s1)

{0, 1, 3, 4, 5, 7, 8, 9, 10}

In [ ]:
#if i want to add multiple items in the set then?
s3 = {30,12}
s1.update(s3)
print(s1)

{0, 1, 3, 4, 5, 7, 8, 9, 10, 12, 30}

In [ ]:
#remove elements from set
s1.remove(1)
print(s1)

{0, 3, 4, 5, 7, 8, 9, 10, 12, 30}

In [ ]:
#discard
s1.discard(5)# discard takes only one argument
print(s1)

{0, 3, 4, 7, 8, 9, 10, 12, 30}

In [ ]:
#pop
s1.pop()
print(s1)
#why we are not using pop() in sets?
#in set pop method it removes elemets randomly

{3, 4, 7, 8, 9, 10, 12, 30}

In [ ]:
# what is the difference between discard and delete?
# when we use the discard if the item exist or not in the collection it(discard) wont throw any errors while execution
s = {3, 4, 7, 8, 9, 10, 12, 30}
s.discard(2)
print(s)

{3, 4, 7, 8, 9, 10, 12, 30}

In [ ]:
#execute matrix operation by using two sets
#union and intersection

s5 = {"a","b","c","d"}
s6 = {"d","e","f","g"}
s_add = s5.union(s6)
print(s_add)

{'g', 'd', 'e', 'a', 'f', 'b', 'c'}

In [ ]:
s_inter = s5.intersection(s6)
print(s_inter)

{'d'}

#Dictionary

In [ ]:
#sets are faster than list and tuple why?
'''in sets we can able to add new elements but we cannot replace elements in set and the
elements are stored randomly so elements/items in sets doesnot have indexing position numbers'''

In [ ]:
#How can we define Dictionary?
#Dictionary  ---> {}
#unordered,Mutable,it wont allows the duplicates
# where we can store items or values or data in dictionary?
#we can store in "key:value" pairs.
""" replace or swap :- dict1['key_name'] = "name"
1."ADD:- dict1['new_key_name'] = "value" --> add new key:value pairs
2. DELETE   :- pop,clear,del

In [ ]:
#proof: it wont allows the duplicates
d1 = {
    "Name" : "Srilatha",
    "Age" : 21,
    "Education" : "B.Tech",
    "Education" : "CSE"
}
print(d1)

{'Name': 'Srilatha', 'Age': 21, 'Education': 'CSE'}

In [ ]:
#Dictionary is unordered : "key:value" pairs doesn't have index position numbers
d2 = {
    "Name" : "Srilatha",
    "Age" : 21,
    "Education" : "B.Tech",
    "Education" : "CSE",
    "fruits" : ['Apple','Mango','Kiwi','Grapes']
}
#how can we access items in dictionary
print(d2['fruits'])
#we can access items in dictionary by using key names.

['Apple', 'Mango', 'Kiwi', 'Grapes']

In [ ]:
print(len(d2))

4

In [ ]:
#print only Education
print(d2['Education'])

CSE

In [ ]:
d2 = {
    "Name" : "Srilatha",
    "Age" : 21,
    "Education" : "B.Tech",
    "Education" : "CSE",
    "fruits" : ['Apple','Mango','Kiwi','Grapes']
}

#in the above dictionary print or access "apple"?
print(d2['fruits'][0])

Apple

In [ ]:
#print mango and kiwi?
print(d2['fruits'][1:3])

['Mango', 'Kiwi']

In [ ]:
#replace
d2 = {
    "Name" : "Srilatha",
    "Age" : 21,
    "Education" : "B.Tech",
    "Education" : "CSE",
    "fruits" : ['Apple','Mango','Kiwi','Grapes']
}
d2['Name'] = 'vaishnavi'
print(d2)

{'Name': 'vaishnavi', 'Age': 21, 'Education': 'CSE', 'fruits': ['Apple', 'Mango', 'Kiwi', 'Grapes']}

In [ ]:
#how to add new elements to the dictionary?
d2['bike'] = 'Interceptor'
print(d2)
'''Note: when we are replacing the values or adding new key:value pair.if the key exist in dictionary
the value can be replaced.Else if the key doesn't exit new key:value pair can be added""

{'Name': 'vaishnavi', 'Age': 21, 'Education': 'CSE', 'fruits': ['Apple', 'Mango', 'Kiwi', 'Grapes'], 'bike': 'Interceptor'}

**delete items in dictionary**

In [ ]:
#1.pop()
d2 = {
    "Name" : "Srilatha",
    "Age" : 21,
    "Education" : "B.Tech",
    "Education" : "CSE",
    "fruits" : ['Apple','Mango','Kiwi','Grapes']
}
d2.pop("fruits") # pop expected one argument, got 0 why because dict is unordered
print(d2)

{'Name': 'Srilatha', 'Age': 21, 'Education': 'CSE'}

In [ ]:
#add new items to fruits in the d2 dictionary "orange" replace into first position
d2 = {
    "Name" : "Srilatha",
    "Age" : 21,
    "Education" : "B.Tech",
    "Education" : "CSE",
    "fruits" : ['Apple','Mango','Kiwi','Grapes']
}
d2['fruits'][1] = "orange"
print(d2)

{'Name': 'Srilatha', 'Age': 21, 'Education': 'CSE', 'fruits': ['Apple', 'orange', 'Kiwi', 'Grapes']}

In [ ]:
#how can we find methods for particular collection
#use dir()
print(dir(d2))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [ ]:
#add new item to fruits at index position 2
d2['fruits'].insert(2,'lemon')
print(d2)

{'Name': 'Srilatha', 'Age': 21, 'Education': 'CSE', 'fruits': ['Apple', 'orange', 'lemon', 'Kiwi', 'Grapes']}

In [ ]:
#use append method.add "rose berry" into fruits?
d2['fruits'].append('rose berry')
print(d2)

{'Name': 'Srilatha', 'Age': 21, 'Education': 'CSE', 'fruits': ['Apple', 'orange', 'lemon', 'Kiwi', 'Grapes', 'rose berry']}

In [ ]:
d4 =  {'Name': 'Srilatha',
      'Age': 21,
      'Education': 'CSE',
      'fruits': ['Apple', 'orange', 'lemon', 'Kiwi', 'Grapes', 'rose berry']
}
# d4.pop('fruits')
# print(d4)
#delete
# del d4['fruits'][1:3] #use del to delete list of items to list
# print(d4)

# d4.clear()
# print(d4)

del d4

In [ ]:
print(d4)

In [ ]:
#try the same thing by using collection of sets
d4 =  {'Name': 'Srilatha',
      'Age': 21,
      'Education': 'CSE',
    'fruits': {'Apple', 'orange', 'lemon', 'Kiwi', 'Grapes', 'rose berry'}
}
# we cannot access the set item
d4['fruits'].add('guava')
print(d4)

{'Name': 'Srilatha', 'Age': 21, 'Education': 'CSE', 'fruits': {'Kiwi', 'Grapes', 'orange', 'lemon', 'guava', 'Apple', 'rose berry'}}

In [ ]:
d4 =  {'Name': 'Srilatha',
      'Age': 21,
      'Education': 'CSE',
    'fruits': {'Apple', 'orange', 'lemon', 'Kiwi', 'Grapes', 'rose berry'}
}
d4['fruits'].add('pine apple')
print(d4)

{'Name': 'Srilatha', 'Age': 21, 'Education': 'CSE', 'fruits': {'pine apple', 'Kiwi', 'Grapes', 'orange', 'lemon', 'Apple', 'rose berry'}}

In [ ]:
#print only keys from above dictionary?
print(d4.keys())

dict_keys(['Name', 'Age', 'Education', 'fruits'])

In [ ]:
#print only values from the dictionary?
print(d4.values())

dict_values(['Srilatha', 21, 'CSE', {'Grapes', 'i', 'lemon', 'Apple', 'l', 'Kiwi', 'orange', 'a', 'p', 'guava', 'rose berry', 'n', 'e'}])

In [ ]:
#print items and values?
print(d4.items())

dict_items([('Name', 'Srilatha'), ('Age', 21), ('Education', 'CSE'), ('fruits', {'Grapes', 'i', 'lemon', 'Apple', 'l', 'Kiwi', 'orange', 'a', 'p', 'guava', 'rose berry', 'n', 'e'})])

In [ ]:
d4 =  {'Name': 'Srilatha',
      'Age': 21,
      'Education': 'CSE',
    'fruits': ['Apple', 'orange', 'lemon', 'Kiwi', 'Grapes', 'rose berry']
}
#print keys in separate line?
for x in d4.keys():
  print(x)
#print values in separate line?
for x in d4.values():
  print(x)

Name
Age
Education
fruits
Srilatha
21
CSE
['Apple', 'orange', 'lemon', 'Kiwi', 'Grapes', 'rose berry']

In [ ]:
#print both key:value pairs by using loops?
for x in d4.items():
  print(x)

('Name', 'Srilatha')
('Age', 21)
('Education', 'CSE')
('fruits', ['Apple', 'orange', 'lemon', 'Kiwi', 'Grapes', 'rose berry'])

In [ ]:
#print in the format key::value pairs?
for z in d4.keys():
  print(f'{z} : {d4[z]}')
f

Name : Srilatha
Age : 21
Education : CSE
fruits : ['Apple', 'orange', 'lemon', 'Kiwi', 'Grapes', 'rose berry']

#Functions

In [ ]:
#what is function?
#A block of code which only runs when it is called.
print("hello")

0
1
2
3
5
8
13
21
34
55

In [ ]:
#how to create a function
def f1():
  print("Hello")
  print("this is running with a function")
  print("=========")
#call function
f1()

Hello
this is running with a function
=========

In [ ]:
#create a function called "zenvius_welcome"
# print("hello good morning")
# print("this is module 2")
# print("please practice the session")

def zenvius_welcome():
  print("hello good morning")
  print("this is module 2")
  print("please practice the session")
zenvius_welcome()

hello good morning
this is module 2
please practice the session

**Parameter**

**Arguments**

In [ ]:
#what is parameter?
#Creating a variable when your denifing a function is known as parameters.
def details(Name,Age,Gender,Education):
  print(f'hello this is {Name}, and i am {Age} years old , and my Gender is {Gender}, and i have done my bachelors in {Education}')
details("Srilatha",21,"Female","Srm University")# these are called arguments

hello this is Srilatha, and i am 21 years old , and my Gender is Female, and i have done my bachelors in Srm University

In [ ]:
#what is arguments?
#calling the function with certain values is known as arguments.
#Note:- when we given specific numbers of paraments,while calling function  we need give equal number of arguments.

True

In [ ]:
#what do i do when i dont know how many parameters i pass?
def details(**name):
  for x,y in name.items():
    print(f'{x} = {y}')
#call function
details(Name = "python",last_name = "programming",age = 21,mobile = 9078654322)

Name = python
last_name = programming
age = 21
mobile = 9078654322

In [ ]:
def details(**name):
  print(name)
details(Name = "python",last_name = "programming",age = 21,mobile = 9078654322)

{'Name': 'python', 'last_name': 'programming', 'age': 21, 'mobile': 9078654322}

In [ ]:
#when you dont know how many arguments has to pass?
def f4(n1,n2,n3,n4):
  print(f'hello {n1}')
f4("python",21,89,76)

hello python

In [ ]:
def f5(*name):
  for x in name:
    print(f'hello {x}')
f5('py','j','js','React')

hello py
hello j
hello js
hello React

In [ ]:
''' 1.**--> when you dont know how many parameters has to pass---> ** arbitary keyword argumnets(Kwargs)
and the default data type for kwargs is "dictionary".'''

'''2.*--> when you dont know how many arguments has to pass ---> *arbitary arguments(args)
and the default data type for args is "Tuple".'''

In [ ]:
# Write a Python program to create a deque and append a few elements to the left and right. Next, remove some elements from the left and right sides and reverse the deque.
# Sample Output:
# deque(['Red', 'Green', 'White'])
# Adding to the left:
# deque(['Pink', 'Red', 'Green', 'White'])
# Adding to the right:
# deque(['Pink', 'Red', 'Green', 'White', 'Orange'])
# Removing from the right:
# deque(['Pink', 'Red', 'Green', 'White'])
# Removing from the left:
# deque(['Red', 'Green', 'White'])
# Reversing the deque:
# deque(['White', 'Green', 'Red'])

d1 = ['Red', 'Green', 'White']
d1.insert(0,'pink')
print(d1)
d1.append('Orange')
print(d1)
d1.pop()
print(d1)
del d1[0]
print(d1)
x = d1[::-1]
print(x)

['pink', 'Red', 'Green', 'White']
['pink', 'Red', 'Green', 'White', 'Orange']
['pink', 'Red', 'Green', 'White']
['Red', 'Green', 'White']
['White', 'Green', 'Red']

#Programs

In [ ]:
#python program to print wheather the given number is even or odd?
n = int(input())
if (n % 2 == 0):
  print(f'{n} is even')
else:
  print(f'{n} is odd')

2
2 is even

In [ ]:
#python program to print celsius to fahrenheit
celsius = float(input("Enter the celsius: "))
fahrenheit = (celsius * 9/5) + 32
print(f'{celsius} celsius is equal to {fahrenheit} fahrenheit')

Enter the celsius: 3.4
3.4 celsius is equal to 38.12 fahrenheit

In [ ]:
#python program to print calender
import calendar
month = int(input("Enter the month : "))
year = int(input("Enter the year : "))
print(calendar.month(year,month))

Enter the month : 6
Enter the year : 2024
     June 2024
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30

In [ ]:
#Python program to find the area of a triangle

In [ ]:
#Python Program to Find the Largest Among Three Numbers
x = int(input())
y = int(input())
z = int(input())
if x >= y and x >= z:
  print(f'The largest Number is {x}')
elif y >= x and y >=z:
  print(f'The largest number is45 {y}')
else:
  print(f'The largest number is {z}')

23
4
1
The largest Number is 23

In [ ]:
#program to check leap year or not
n = int(input())
if n % 4 == 0:
  if n % 100 == 0:
    if n % 400 == 0:
      print(f'{n} is a leap year')
    else:
      print(f'{n} is Not a leap year')
  else:
    print(f'{n} is Not a leap year')
else:
      print(f'{n} is Not a leap year')

1600
1600 is a leap year

In [ ]:
i = 10

while i>=1:
  print(i)
  i = i - 1

10
9
8
7
6
5
4
3
2
1

In [ ]:
#print sum of 10 even numbers
sum = 0
num = 2
while num<=20:
  print(num)
  sum = num + sum
  num = num + 2
  print(sum)

2
4
6
8
10
12
14
16
18
20
110

In [ ]:
n = input("Enter a string : ")
if n == n[::-1]:
    print(f"{n} is a palindrome")
else:
    print(f"{n} is not a palindrome number")

Enter a string : man
man is not a palindrome number

In [ ]:
#fibonacci series
def fib(n):
  a = 0
  b = 1
  print(a)
  print(b)
  for i in range(2,n):
    c = a + b
    a = b
    b = c
    print(c)
fib(10)

0
1
1
2
3
5
8
13
21
34

In [ ]:
#even numbers using while
a = 0
while a <= 20:
  print(a)
  a = a + 2

0
2
4
6
8
10
12
14
16
18
20

In [ ]:
# squares
a = 0
while()
  print(n)

a,d,c =3 4 5

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

In [ ]:
list_fruits = ["Apple","Banana","pineapple","mango","kiwi"]
list = []
for x in  list_fruits:
    if "a" in x:
        list.append(x)
print(list)

['Banana', 'pineapple', 'mango']

In [ ]:
class student:
  def __init__(self,name,age,gender):
    self.name = name
    self.age = age
    self.gender = gender

v1 = student("lokesh",23,"m")
v2 = student("sri",21,"f")
print(v1.name,v1.age)
print(v2.gender)

lokesh 23
f